/* #27212d
#a527ff */
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    height: 100vh;
    background-image: url(photo-1542831371-29b0f74f9713.jpg);
    color:white;

}
.OTP
{
    display: flex;
    margin-bottom: 50px;
}
.OTP input
{
    width: 60px;
    font-size: 24px;
    margin: 2px;
    padding: 10px;
    background-color: white;
    outline: white;
    border: 2px solid #27212d;
    border-radius: 5px;
    text-align: center;
    color: white;
    transition: all .3s ease;

}
.OTP input:focus
{
    border: 2px solid #a527ff;
    box-shadow: 0 0 4px 4px  #a527ff61 ;
}
.spacing
{
    margin-right: 1rem !important;
}
button
{
    padding: 15px 55px;
    background-color: #a527ff;
    color: azure;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s;
}
button:active
{
    transform:scale(.9);
}
